<h2><?php echo __('Login'); ?></h2>
[[$ERRORS]]

<fieldset>
	<legend>Please enter your username and password to login</legend>
	<p>
		<label for="data[username]"><?php echo __('Username'); ?></label>
		<?php echo $this->input(array('name'=>'data[username]', 'id'=>'data[username]')); ?>
	</p>

	<p>
		<label for="data[password]"><?php echo __('Password'); ?></label>
		<?php echo $this->input(array('type'=>'password', 'name'=>'data[password]', 'id'=>'data[password]')); ?>
	</p>
	<p>
		<?php echo $this->input(array('type'=>'checkbox', 'value'=>"1", "checked"=>"checked", "name"=>"data[enableCookie]", 'id'=>'data[enableCookie]')); ?>
		<label for="data[enableCookie]"><?php echo __('Remember login'); ?></label>
	</p>
</fieldset>

[[$SEND]]
