<script src="<?php echo Application_Base::getBaseURL(); ?>templates/assets/js/jquery-ui-1.8.11.custom.min.js"></script>
<script src="<?php echo Application_Base::getBaseURL(); ?>templates/assets/js/jquery.ui.nestedSortable.js"></script>

<script src="/<?php echo $this->app->getRelativePath(); ?>templates/assets/js/jquery.ui.position.js"></script>
<script src="/<?php echo $this->app->getRelativePath(); ?>templates/assets/js/jquery.contextMenu.js"></script>

<link href="/<?php echo $this->app->getRelativePath(); ?>templates/assets/css/jquery.contextMenu.css" rel="stylesheet" type="text/css">
<link href="/<?php echo $this->app->getRelativePath(); ?>templates/assets/css/pagetree.css" rel="stylesheet" type="text/css">

<h2><?php echo __('Manage pages'); ?></h2>
<?php
	$n = new Modules_Structure_Presets($this->data['nested_pages']);
	$n->HTMLunorderedList();
	$n->setItemContent('<span>%title%</span>')
		->setBeforeItem('<li data-page_id="%page_id%" id="page_%page_id%" class="%cssclass%">')
		->setListWrap('<ol class="pagetree">%content%</ol>')
		->setBeforeList('<ol>')
		->setAfterList('</ol>');
	echo $n->draw(); 
?>
<!--
<?php print_r($this->data['nested_pages']); ?>
-->

<script>
$(function() {

	var ApplicationURL = '/<?php echo $this->app->getRelativePath(); ?>';

    $.contextMenu({
        selector: '.pagetree li', 
        callback: function(key, opt) {
            var m = "clicked: " + key;
            alert(ApplicationURL + 'Page/context/' + key + '/' + opt.$trigger.data('page_id'));
        },
        items: {
            "edit": {
				name: "<?php echo __("Edit page"); ?>",
				icon: "tree-editpage",
				callback: function(key, opt) {
					ajaxLoad(ApplicationURL + 'Page/edit/' + opt.$trigger.data('page_id'));
				}
			},
            "rename": {
				name: "<?php echo __("Rename"); ?>",
				icon: "tree-renamepage",
				callback: function(key, opt) {
					var newName = prompt("<?php echo __('Enter a new name: '); ?>", opt.$trigger.find('> span').text());
					if(newName != '') {
						$.ajax({
							url: ApplicationURL + 'Page/edit/' + opt.$trigger.data('page_id') + '/inline?ajax=true',
							type: 'post',
							data: 'data[title]=' + newName,
							dataType: 'json',
							success: function(response) {
								if(response.error) {
									alert(response.error);
								} else {
									opt.$trigger.find('> span').text(newName);
								}
							}
						});
					}
				}
			},
            "create": {
				name: "<?php echo __("Create new page"); ?>",
				icon: "tree-addpage",
				callback: function() {
					return false;
				},
				items: {
					"inside": {
						name: "<?php echo __("Inside this page"); ?>",
						icon: "tree-addpageinside",
						callback: function(key, opt) {
							ajaxLoad(ApplicationURL + 'Page/create/'+ opt.$trigger.data('page_id') + '/inside');
						}
					},
					"below": {
						name: "<?php echo __("After this page"); ?>",
						icon: "tree-addpagebelow",
						callback: function(key, opt) {
							ajaxLoad(ApplicationURL + 'Page/create/'+ opt.$trigger.data('page_id') + '/after');
						}
					}
				}
			},
			"link": {
				name: "Show link",
				icon: "tree-showlink",
				callback: function() {
					alert("<?php echo $this->app->getBaseUrl(); ?>".replace('|Admin|', ''));
				}
			},
            "sep1": "---------",
            "delete": {
				name: "<?php echo __('Delete'); ?>",
				icon: "tree-deletepage", 
				callback: function(key, opt) { 
					var del = confirm('<?php echo __('Are you sure you want to delete this page and (all its subpages!)?'); ?>');
					if(del == true) {
						$.ajax({
							url: ApplicationURL + 'Page/delete/' + opt.$trigger.data('page_id') + '?ajax=true',
							type: 'post',
							data: '__confirm=true',
							dataType: 'json',
							success: function(response) {
								if(response.error) {
									alert(response.error);
								} else {
									opt.$trigger.remove();
								}
							}
						});
					}
				}
			},
        }
    });


	$('.pagetree').nestedSortable({
		disableNesting: 'no-nest',
		forcePlaceholderSize: true,
		handle: 'span',
		helper:	'clone',
		items: 'li',
		maxLevels: 3,
		opacity: .6,
		update: function(data) {
			var newOrder = $(this).nestedSortable('serialize');
			$.ajax({
				url: "<?php echo Application_Base::getBaseURL(); ?>Page/reorder/?ajax=true",
				data: newOrder,
				type: 'post',
				success: function(response) {

				}
			});
		},
		placeholder: 'placeholder',
		revert: 250,
		tabSize: 25,
		tolerance: 'pointer',
		toleranceElement: '> span'
	});

});
</script>