@font-face {
    font-family: 'HeroRegular';
    src: url('../fonts/hero-webfont.eot');
    src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero-webfont.woff') format('woff'),
         url('../fonts/hero-webfont.ttf') format('truetype'),
         url('../fonts/hero-webfont.svg#HeroRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeroLight';
    src: url('../fonts/hero_light-webfont.eot');
    src: url('../fonts/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero_light-webfont.woff') format('woff'),
         url('../fonts/hero_light-webfont.ttf') format('truetype'),
         url('../fonts/hero_light-webfont.svg#HeroLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	background: white;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	line-height: 19px;
	height: 100%;
}

body {
	display: table;
	width: 100%;
}

a {
	color: #799aa5;
}

a:hover {
	color: #152737;
}

h1, h2 {
	font-family: "HeroLight", "Trebuchet MS", Arial, sans-serif;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 24px;
	margin-bottom: 1em;
}

h3 {
	font-size: 18px;
	font-family: Georgia, sans-serif;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: 1.5em 0 0.75em 0;
}

ul, ol, dl {
	margin: 0.5em 0 0.5em 1.5em;
}


section#sidebar, section#content {
	bottom: 40px;
	min-height: 10px;
	position: absolute;
	overflow: auto;
}

section#sidebar {
	background: #F2F5F6;
	box-shadow: inset -0px 0px 4px #999;
	left: 0;
	padding-top: 8px;
	top: 0;
	width: 304px;
}

section#sidebar nav ul {
	font-weight: 700;
	list-style: none;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 2px #aaa;
}

section#sidebar nav > ul {
	margin: 1em 0 0 0;
}

section#sidebar nav ul li a {
	color: #555;
	display: block;
	padding-left: 32px;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
}

section#sidebar nav > ul > li {
	border-top: 1px solid #c9c9c9;
}

section#sidebar nav > ul > li > a {
	border-top: 1px solid #f0f0f0;
	padding: 6px 0 6px 32px;
}

section#sidebar nav ul li a:hover {
	color: #152737;
}

section#sidebar nav ul li ul {
	margin-bottom: 8px;
}

section#sidebar nav ul li ul li a {
	font-weight: 400;
	padding: 3px 0 3px 32px;
	text-shadow: none;
}


section#sidebar .resizebar {
	bottom: 0;
	top: 0;
	width: 8px;
	position: absolute;
	right: 0;
	cursor: pointer;
}

section#sidebar .resizebar:hover {
	background: #ddd url(../images/foldin.png) center center no-repeat;
}

section#sidebar.closed .resizebar,
section#sidebar.closed .resizebar:hover {
	background: #ddd url(../images/foldout.png) center center no-repeat;
}


section#content {
	left: 304px;
	padding: 16px;
	right: 0;
	top: 0;
}

.errors {
	background: #FFEEEE;
	border: 1px solid #BA5050;
	border-radius: 8px;
	margin: 1em 0 1.5em 0;
	padding: 3px;
}

.errors li {
	background: url(/Admin/templates/assets/images/famfamfam/exclamation.png) no-repeat 6px center;
	list-style: none;
	margin: 5px 0;
	padding-left: 32px;
}

.info {
	background: #EEEEFF url(../images/fugue/information.png) no-repeat 6px center;
	border: 1px solid #5078ba;
	border-radius: 8px;
	margin: 1em 0 1.5em 0;
	padding: 3px 3px 3px 32px;
}

.infobox {
	background: #e7e9ea;
	-moz-box-shadow: inset 0px 0 4px #999;
	-webkit-box-shadow: inset 0px 0 4px #999;
	box-shadow: inset 0px 0 4px #999;
	padding: 16px 16px;
}

.small {
	font-size: 11px;
}

header {
	background: url(../images/tmplogo3.png) no-repeat;
	background-size: 50% auto;
	padding-top: 80px;
}

header h1 {
	letter-spacing: 0.07em;
	line-height: 1.2em;
	padding: 0 8px 8px 8px;
}


footer {
	background: #f2f5f6;
	border-top: 1px solid #ccc;
	color: #999;
	bottom: 0;
	height: 24px;
	left: 0;
	line-height: 24px;
	position: absolute;
	padding: 8px 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
}

footer p {
	margin: 0;
}


.userimg, .userimg_80, .userimg_200 {
	background: url(/Admin/templates/assets/images/user.png) no-repeat center center;
	border: 2px solid white;
	float: left;
	height: 45px;
	margin: 0 8px 0px 0;
	outline: 1px solid #999;
	width: 45px;
}

.userimg_200 {
	width: 200px;
	height: 200px;
}

p {
	margin: 1em 0;
}

label {
	display: block;
	vertical-align: middle;
}

fieldset {
	border: 1px solid #799aa5;
	border-radius: 8px;
	margin: 1.5em 0 1.5em 0;
	padding: 0 24px 16px 32px;
}

legend {
	background: #e6e6e6;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-weight: 700;
	margin: 0 -1em;
	padding: 5px 16px;
	text-shadow: 1px 1px 1px #fff;
}


fieldset p {

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(121,154,165,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(121,154,165,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* W3C */

	border-bottom: 1px solid #d7e1e4;
	clear: both;
	margin-left: -24px;
	margin-right: -16px;
	padding: 0 16px 1em 16px;
}

fieldset p:hover {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(121,154,165,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(121,154,165,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.2) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.2) 100%); /* W3C */
}

fieldset p:after {
	clear: both;
	content: " ";
	display: block;
}

fieldset p:last-child {
	margin-bottom: 0;
}

fieldset p label:first-child {
	float: left;
	width: 180px;
}

fieldset p label.fullwidth {
	width: auto;
}

fieldset label, fieldset .label {
	font-weight: bold;
}


input[type="button"], input[type="submit"] {
	padding: 8px;
	text-shadow: 1px 1px 0 #e6e6e6;
}

input[type="text"], input[type="email"], input[type="datetime"], input[type="url"], input[type="tel"], input[type="search"], input[type="password"], textarea {
	border: 1px solid #2b4e69;
	border-radius: 8px;
/*border-top-width: 2px;
border-left-width: 2px;*/
	font-family: inherit;
	font-size: 110%;
	padding: 8px;
	text-shadow: 1px 1px 0 #e6e6e6;
}

input[type="text"], input[type="email"], input[type="datetime"], input[type="url"], input[type="tel"], input[type="search"], input[type="password"], select {
	width: 300px;
}

input[type="checkbox"], input[type="radio"] {
	vertical-align: middle;
}

input[disabled="disabled"] {
	border-color: #000;
}

textarea:focus, input:focus {
-moz-box-shadow: inset 1px 1px 4px -2px #000;
}


select {
	vertical-align: middle;
}

option {
	padding: 8px;
	vertical-align: middle;
}

.i1 { width: 64px; }
.i2 { width: 128px; }
.i3 { width: 192px; }
.i4 { width: 256px; }
.i5 { width: 384px; }
.i6 { width: 512px; }
.i7 { width: 640px; }
.i8 { width: 768px; }
.i9 { width: 960px; }
.i10 { width: 100%px; }

input[type="checkbox"] + label {
	display: inline; 
}

.icon-pics {
	background: url(../images/famfamfam/camera.png) no-repeat 8px 8px;
}

.icon-user {
	background: url(../images/famfamfam/user.png) no-repeat 8px 8px;
}

.icon-comments {
	background: url(../images/famfamfam/comments.png) no-repeat 8px 8px;
}

.icon-dashboard {
	background: url(../images/famfamfam/report.png) no-repeat 8px 8px;
}

.icon-settings {
	background: url(../images/famfamfam/cog.png) no-repeat 8px 8px;
}

.icon-extensions {
	background: url(../images/fugue/application--plus.png) no-repeat 8px 8px;
}


.delete {
	background: url(../images/fugue/cross-script.png) no-repeat;
	padding-left: 20px;
}

.editimage {
	background: url(../images/fugue/picture--pencil.png) no-repeat;
	padding-left: 20px;
}

.editpermissions {
	background: url(../images/fugue/lock--pencil.png) no-repeat;
	padding-left: 20px;
}

.edituser {
	background: url(../images/fugue/user--pencil.png) no-repeat;
	padding-left: 20px;
}

.editcomment {
	background: url(../images/fugue/balloon--pencil.png) no-repeat;
	padding-left: 20px;
}

.extension-activate {
	background: url(../images/fugue/application--plus.png) no-repeat;
	padding-left: 20px;
}

.extension-deactivate {
	background: url(../images/fugue/application--minus.png) no-repeat;
	padding-left: 20px;
}

.extension-configure {
	background: url(../images/fugue/gear--pencil.png) no-repeat;
	padding-left: 20px;
}

.clear {
	clear: both;
	display: block;
	height: 1px;
	width: 1px; 
}

.thumb {
	float: left;
	height: 200px;
	margin: 5px 10px 5px 0;
	text-align: center;
	width: 300px;
}

.mini {
	float: left;
	height: 100px;
	margin: 5px 10px 5px 0;
	text-align: center;
	width: 150px;
}

.zebra {
	border-top: 1px solid #e6e6e6;
	list-style: none;
	margin: 0;
}

.zebra > li:nth-child(even) {
	background: #e6e6e6;
}

.zebra > li {
	border-bottom: 1px solid #e6e6e6;
	clear: both;
}

.meta {
	float: left;
}


.pagination a {
	text-decoration: none;
}

.pagination a .pLabel {
	border: 1px solid #ccc;
	color: #2b4e69;
}

.pagination a .pLabel:hover {
	background: #E6E6E6;
}

.pLabel {
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #aaa;
	cursor: pointer;
	font-weight: bold;
	font-family: verdana, sans-serif;
	padding: 2px 6px;
}


#menu li.active > a {
	font-weight: 700;
}

#dashlist {
	margin: 0;
}

#dashlist li {
	list-style: none;
}

#dashlist li a {
	padding: 2px 2px 2px 20px;
	display: inline-block;
}

#dashlist .dash-upload a {
	background: url(../images/fugue/picture--plus.png) no-repeat 0px center;
}

#dashlist .dash-comments a {
	background: url(../images/fugue/balloon-white-left.png) no-repeat 0px center;
}

#dashlist .dash-profile a {
	background: url(../images/fugue/user--pencil.png) no-repeat 0px center;
}

/*

#dashlist {
	margin: 0;
}

#dashlist li {
	list-style: none;
	display: inline-block;
}

#dashlist li a {
	background-repeat: no-repeat;
	border-radius: 16px;
	display: block;
	margin: 1em 1em 1em 0;
	padding-top: 124px;
	text-align: center;
	width: 144px;
}

#dashlist li a:hover {
	border-color: #666;
}


#dashlist .dash-upload a {
	background-image: url(../images/icons/image.png);
}

#dashlist .dash-comments a {
	background-image: url(../images/icons/comments.png);
}

#dashlist .dash-profile a {
	background-image: url(../images/icons/useredit.png);
}

#dashlist .dash-upload a:hover {
	background-image: url(../images/icons/image.png), -moz-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(224,224,224,0) 70%, rgba(255,255,255,0) 100%);
}

#dashlist .dash-comments a:hover {
	background-image: url(../images/icons/comments.png), -moz-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(224,224,224,0) 70%, rgba(255,255,255,0) 100%);
}

#dashlist .dash-profile a:hover {
	background-image: url(../images/icons/useredit.png), -moz-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(224,224,224,0) 70%, rgba(255,255,255,0) 100%);
}

*/

#userlist > li {
	clear: both;
}

#userlist .userimg {
	margin: 5px 10px 0 0;
}

#userlist .tools {
	list-style: none;
	margin-top: 0;
}

.itemlist {
	border-top: 1px solid #e6e6e6;
	margin: 0;
	padding: 0;
}

.itemlist ul {
	margin: 0;
}

.itemlist > li {

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(121,154,165,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(121,154,165,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(121,154,165,0.1) 100%); /* W3C */


	border-bottom: 1px solid #e6e6e6;
	list-style: none;
	max-width: 100%;
	padding: 16px;
	overflow: auto;
}

.itemlist > li:nth-child(even) {

}

.itemlist ul li {
	list-style: none;
}

.itemlist .tools li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 4px 12px;
}

.itemlist .tools {
	margin: 0;
}

#data_permissions {
	height: 250px;
}

#data_permissions option {
	border-bottom: 1px solid #666;
}

#userprofile .col1, #userprofile .col2 {
	float: left;
}

#userprofile .col1 {
	width: 240px;
}

.ext-icon {
	float: left;
	margin: 0 10px 10px 0;
}

.exifTable {
	background: #e1e1e1;
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}

.exifTable td {
	border: 2px solid white;
	padding: 2px;
	vertical-align: top;
}

.exifTable .exifTable {
	background: #d1d1d1;
	margin: -4px;
}




.ui-tabs ul {
	margin-bottom: 0;
	margin-left: -24px;
}

.ui-tabs ul li {
	border-top: 1px solid #799AA5;
	border-right: 1px solid #799AA5;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #799AA5;
	display: inline-block;
	list-style: none;
	margin-right: 2px;
	margin-bottom: -1px;
	padding: 8px 8px;
}

.ui-tabs section {
	border: 1px solid #799AA5;
	display: none;
	margin-left: -24px;
	margin-right: -16px;
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 24px;
	padding-right: 16px;
}

.ui-tabs section:nth-of-type(1) {
	display: block;
}
