<h2><?php echo __('View comments'); ?></h2>

<?php if(count($this->data['comments']) > 0) { ?>

	<p class="pagination"><?php echo $this->data['pagination']; ?> | <a href="<?php echo $this->data['sortLink']; ?>" class="<?php echo $this->data['sort']; ?>"><span class="pLabel"><?php echo $this->data['sortLabel']; ?></span></a></p>

	<ul class="itemlist" id="commentlist">
	<?php
	foreach($this->data['comments'] AS $num => $comment) {
	$photo = $this->data['photomapper']->find($comment->photo_id, new Model_Photo);
	?>
		<li>
			<div class="mini">
				<a href="<?php echo $this->app->getBaseURL(); ?>photo/edit/<?php echo $comment->photo_id; ?>"><img src="<?php echo $this->app->getBaseURL(); ?>../uploads/mini/<?php echo $photo->web_name; ?>" /></a>
			</div>
			<div class="meta">
				<strong><?php if(isset($comment->url)) { ?><a href="<?php echo $comment->url; ?>"><?php echo $comment->name; ?></a><?php } else { ?><?php echo $comment->name; ?><?php } ?></strong> <?php echo __('at'); ?> <?php echo $comment->datetime; ?>
				<p><?php echo nl2br($this->sanitize->removeTags($comment->text)); ?></p>
				<ul class="tools">
					<li><a class="editcomment" href="<?php echo $this->app->getBaseURL(); ?>Comments/edit/<?php echo $comment->comment_id; ?>"><?php echo __('Edit comment'); ?></a></li>
					<li><a class="delete" href="<?php echo $this->app->getBaseURL(); ?>Comments/delete/<?php echo $comment->comment_id; ?>"><?php echo __('Delete comment'); ?></a></li>
					<li><a class="editimage" href="<?php echo $this->app->getBaseURL(); ?>photo/edit/<?php echo $comment->photo_id; ?>"><?php echo __('Edit image'); ?></a></li>
				</ul>
			</div>
			<span class="clear"></span>
		</li>
	<?php } ?>
	</ul>

	<br style="clear: both;" />

	<p class="pagination"><?php echo $this->data['pagination']; ?> | <a href="<?php echo $this->data['sortLink']; ?>" class="<?php echo $this->data['sort']; ?>"><span class="pLabel"><?php echo $this->data['sortLabel']; ?></span></a></p>

<?php } else { ?>

<p><?php echo __('Sorry, no comments so far.'); ?></p>

<?php } ?>

<script>$(function() {

	$('a.delete').bind('click', function(e) {

		e.preventDefault();
		var item = $(this).parent().parent().parent();
		var del = confirm("<?php echo __('Are you sure you want to delete the comment?'); ?>");

		if(del == true) {
			$.ajax({
				url: $(this).attr('href'),
				type: 'POST',
				data: 'ajax=1&confirm=true',
				success: function(msg) {
					response = JSON.parse(msg);
					console.log(response);
					alert(msg);
					item.fadeOut();
				}
			});
		}

		return false;

	});
	

});</script>