[[$ERRORS]]

<?php if(isset($this->data['settings'])) { ?>
	<fielset>
	<?php foreach($this->data['settings'] AS $class => $classMembers) { ?>
		<legend><?php echo $class; ?></legend>
		<?php if(is_array($classMembers)) { ?>
			<fieldset>
			<?php foreach($classMembers AS $group => $groupMembers) { ?>
				<legend><?php echo $group; ?></legend>
				<?php if(is_array($groupMembers)) { ?>
					<?php foreach($groupMembers AS $setting => $settingMember) { ?>
						<p>
							<label for="<?php echo $setting; ?>"><?php echo $setting; ?></label>
							<?php echo $this->input(array('id'=>$setting, 'name'=>'data[/'.$class.'/'.$group.'/'.$setting.']', 'value'=>$settingMember)); ?>
						</p>
					<?php } ?>
				<?php } else { ?>
					<p>
						<label for="<?php echo $group; ?>"><?php echo $group; ?></label>
						<?php echo $this->input(array('id'=>$group, 'name'=>'data[/'.$class.'/'.$group.']', 'value'=>$groupMembers)); ?>
					</p>
				<?php } ?>
			<?php } ?>
			</fieldset>
		<?php } else { ?>
			<p>
				<label for="<?php echo $class; ?>"><?php echo $class; ?></label>
				<?php echo $this->input(array('id'=>$class, 'name'=>'data[/'.$class.']', 'value'=>$classMembers)); ?>
			</p>
		<?php } ?>
	<?php } ?>
	</fieldset>
<?php } ?>

[[$SEND]]