<?xml version="1.0"?>
<settings>

	<defaults>
		<image>
			<web>
				<maxwidth>800</maxwidth>
				<maxheight>600</maxheight>
			</web>
			<thumb>
				<maxwidth>300</maxwidth>
				<maxheight>200</maxheight>
			</thumb>
			<mini>
				<maxwidth>150</maxwidth>
				<maxheight>100</maxheight>
			</mini>
		</image>
	</defaults>

</settings>
