<routing>

	<domain name="*">

		<path>
			<pattern><![CDATA[^/(C|c)ontent/(?<params>.*)]]></pattern>
			<controller>Admin_Controller_Content</controller>
			<action>index</action>
		</path>

		<path>
			<pattern><![CDATA[^/(S|s)ettings/(?<params>.*)]]></pattern>
			<controller>Admin_Controller_Settings</controller>
			<action>edit</action>
		</path>

		<path>
			<pattern><![CDATA[^/Ext/(?<namespace>.*)/(?<controller>.*)/(?<action>.*)/(?<params>.*)]]></pattern>
			<controller>Extensions_%namespace%_Admin_Controller_%controller%</controller>
			<action>%action%</action>
		</path>

		<path>
			<pattern><![CDATA[^/Ext/(?<namespace>.*)/(?<controller>.*)/(?<action>.*)]]></pattern>
			<controller>Extensions_%namespace%_Admin_Controller_%controller%</controller>
			<action>%action%</action>
		</path>

		<path>
			<pattern><![CDATA[^/Ext/(?<namespace>.*)/(?<controller>.*)]]></pattern>
			<controller>Extensions_%namespace%_Admin_Controller_%controller%</controller>
			<action>index</action>
		</path>


		<path>
			<pattern><![CDATA[/(?<controller>.*)/(?<action>.*)/(?<params>.*)]]></pattern>
			<controller>Admin_Controller_%controller%</controller>
			<action>%action%</action>
		</path>

		<path>
			<pattern><![CDATA[/(?<controller>.*)/(?<action>.*)]]></pattern>
			<controller>Admin_Controller_%controller%</controller>
			<action>%action%</action>
		</path>

		<path>
			<pattern><![CDATA[/(?<controller>.*)]]></pattern>
			<controller>Admin_Controller_%controller%</controller>
			<action>index</action>
		</path>

		<path>
			<pattern><![CDATA[/]]></pattern>
			<controller>Admin_Controller_Dashboard</controller>
			<action>index</action>
		</path>

	</domain>


</routing>