<routing>

	<domain name="*">

		<path>
			<pattern><![CDATA[/Api/(?<controller>.*)/(?<action>.*)/(?<params>.*)]]></pattern>
			<controller>Api_%controller%</controller>
			<action>%action%</action>
			<!--
			<options>
				<dontSplitParams />
			</options>
			-->
		</path>

		<path>
			<pattern><![CDATA[/(A|a)dmin/(C|c)ontent/(?<params>.*)]]></pattern>
			<controller>Admin_Controller_Content</controller>
			<action>index</action>
		</path>

		<path>
			<pattern><![CDATA[/(A|a)dmin/(S|s)ettings/(?<params>.*)]]></pattern>
			<controller>Admin_Controller_Settings</controller>
			<action>edit</action>
		</path>

		<path>
			<pattern><![CDATA[/(A|a)dmin/(?<controller>.*)/(?<action>.*)/(?<params>.*)]]></pattern>
			<controller>Admin_Controller_%controller%</controller>
			<action>%action%</action>
		</path>

		<path>
			<pattern><![CDATA[/(A|a)dmin/(?<controller>.*)/(?<action>.*)]]></pattern>
			<controller>Admin_Controller_%controller%</controller>
			<action>%action%</action>
		</path>

		<path>
			<pattern><![CDATA[/(A|a)dmin/(?<controller>.*)]]></pattern>
			<controller>Admin_Controller_%controller%</controller>
			<action>index</action>
		</path>

		<path>
			<pattern><![CDATA[/(A|a)dmin]]></pattern>
			<controller>Admin_Controller_Dashboard</controller>
			<action>index</action>
		</path>

	</domain>


</routing>