<!DOCTYPE html>
<html>
<head>
<title><?php echo Application_Settings::get('//general/site/sitename'); ?></title>
<link href="<?php echo Application_View::getThemeURL(); ?>assets/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
<div id="wrapper"<?php if(isset($this->data['maxWidth'])) { ?> style="width: <?php echo (int) $this->data['maxWidth'] ?>px"<?php } ?>>
	<header>
		<h1><a href="<?php echo Application_Base::getBaseURL(); ?>"><?php echo Application_Settings::get('//general/site/sitename'); ?></a></h1>
	</header>
	<section id="content">
		[sub:[main]]
	</section>
</div>
</body>
</html>