<div class="legible fulltext">

	<h2>Credits</h2>

	<p>Thanks to all the people doing great stuff for the community. Exhibit benefits a lot from it.</p>

	<h3>Icons</h3>
	<dl>

		<dt>fugue</dt>
			<dd><a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a></dd>
			<dd><a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a></dd>

		<dt>famfamfam silk</dt>
			<dd><a href="http://www.famfamfam.com/">Mark James</a></dd>
			<dd><a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a></dd>

		<dt>farm fresh
			<dd><a href="http://www.fatcow.com/free-icons">FatCow</a></dd>
			<dd><a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a></dd>

<!--
		<dt>Human o2</dt>
			<dd>Oliver Scholtz
-->
	</dl>

	<h3>Other libraries</h3>

	<p>Although we try to avoid relying on 3rd party libraries it's sometimes useful to not reinvent the wheel. So here's the list of libraries used in this software.</p>

	<dl>

		<dt>PclZip</dt>
			<dd><a href="http://www.phpconcept.net/pclzip">PhpConcept</a></dd>
			<dd><a href="http://www.gnu.org/licenses/lgpl.html">LGPL 3.0</a></dd>

	</dl>

</div>