<?php $greetings = array('Hello', 'Hi', 'Hola', 'Salut', 'Hallo', 'Nǐhǎo', 'Bonjour', 'Dia duit'); ?>
<h2><?php echo $greetings[mt_rand(0, count($greetings)-1)]; ?> <?php echo Modules_Session::getInstance()->getVar('userdata')->username; ?>!</h2>

<p><?php printf(__("We currently have %s photos uploaded and %s comments received."), count($this->data['photos']), count($this->data['comments'])); ?></p>

<h3><?php echo __('What do you want to do next?'); ?></h3>
<ul id="dashlist">
<li class="dash-upload"><a href="<?php echo Application_Base::getBaseURL(); ?>Photo/add"><?php echo __('Upload new photo'); ?></a></li>
<li class="dash-comments"><a href="<?php echo Application_Base::getBaseURL(); ?>Comments/view"><?php echo __('View comments'); ?></a></li>
</ul>

<h3><?php echo __('Recent comments'); ?></h3>

<?php
if(is_array($this->data['comments'])) {
?>
<ul>
	<?php
	$commentCount = count($this->data['comments']);


	for($i = $commentCount-1; $i > $commentCount-6; $i--) { ?>
		<?php $comment = $this->data['comments'][$i];?>
		<?php if($comment != NULL) { ?>
		<li>
			<?php echo $comment->name; ?> 
			<?php if($comment->url != '') { ?>
				<a href="<?php echo $comment->url; ?>">(<?php echo __('website'); ?>)</a>
			<?php } ?>
			<?php echo __('commented on'); ?> 
			<?php echo $this->data['photos'][$comment->photo_id]->title; ?>
			<a href="<?php echo Application_Base::getBaseURL(); ?>comments/edit/<?php echo $comment->comment_id; ?>"><?php echo __('edit'); ?></a>
		</li>
		<?php } ?>
		
	<?php } ?>
</ul>
<?php } else { ?>
<p><?php echo __('No comments so far.'); ?></p>
<?php } ?>