<h2>Hello <?php echo Modules_Session::getInstance()->getVar('userdata')->username; ?></h2>

<p><?php printf(__("You've currently uploaded %s photos and received %s comments."), count($this->data['photos']), count($this->data['comments'])); ?></p>

<h3><?php echo __('What do you want to do next?'); ?></h3>
<ul>
<li><a href="<?php echo Application_Base::getBaseURL(); ?>Photo/add"><?php echo __('Upload new photo'); ?></a></li>
<li><a href="<?php echo Application_Base::getBaseURL(); ?>Comments/view"><?php echo __('View comments'); ?></a></li>
</ul>

<h3><?php echo __('Recent comments'); ?></h3>

<?php
if(is_array($this->data['comments'])) {
?>
<ul>
	<?php
	$commentCount = count($this->data['comments']);
	for($i = $commentCount-1; $i > $commentCount-6; $i--) { ?>
		<?php $comment = $this->data['comments'][$i];?>
		<?php if($comment != NULL) { ?>
		<li>
			<?php echo $comment->name; ?> 
			<?php if($comment->url != '') { ?>
				<a href="<?php echo $comment->url; ?>">(website)</a>
			<?php } ?>
			<?php echo __('commented on'); ?> 
			<?php echo $this->data['photos'][$comment->photo_id]->title; ?>
			<a href="<?php echo Application_Base::getBaseURL(); ?>comments/edit/<?php echo $comment->comment_id; ?>"><?php echo __('edit'); ?></a>
		</li>
		<?php } ?>

	<?php } ?>
</ul>
<?php } ?>