#AddHandler php-fastcgi .php
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /dev/applicationserver/index.php [L]
RewriteRule . index.php [L]
</IfModule>
