* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background: #999;
	font-family: "trebuchet ms", arial, verdana, sans-serif;
	font-size: 13px;
}

header {
	height: 100px;
	text-align: center;
}

header a {
	background: url(http://photos.manuelbieh.com/templates/manuel/styles/images/headline.jpg) no-repeat center center;
	display: block;
	height: 70px;
	text-indent: -9999px;
}

footer {
	background: white;
	border-top: 1px solid #ccc;
	bottom: 0;
	clear: both;
	color: #333;
	display: block;
	margin: 0 !important;
	position: absolute;
	left: 0;
	text-align: center;
	width: 100%;
}

footer p {
	margin-bottom: 0;
}

footer .footnote {
	color: #999;
	font-size: 0.9em;
}

footer .footnote a {
	color: #666;
}

h2, h3 {
	margin: 0.75em 0 1em 0;
}

p {
	margin: 0.5em 0 0.75em 0;
}

input, textarea {
	font-family: inherit;
	font-size: 110%;
	padding: 4px;
	text-shadow: 2px 2px 0 #e6e6e6;
}

input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"], input[type="password"], select, textarea {
	width: 300px;
	max-width: 100%;
}

a {
	color: #007BBF;
}

a:hover {
	color: #00D4FF;
}

#wrapper {
	background: white;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
	margin-bottom: -13px;
	min-height: 100%;
	position: relative;
}

#wrapper *:last-child {
	margin-bottom: 1em;
}

section#content {
	margin-bottom: 3em;
}

.center {
	text-align: center;
}

.errors {
	margin: 1em 0 1em 1.5em;
}

.entry {
	border-bottom: 10px solid #dedede;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.content {
	padding: 0 1em;
}

.comment {
	border-bottom: 1px solid #aaa;
	margin: 0;
}

.comment .comment-meta {
	background: #efefef;
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	margin-bottom: 0.75em;
	margin-top: 0;
	padding: 0.5em;
}

.overview {
	padding: 1em;
}

.overview .mini, .overview .thumb {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	border: 4px solid #ddd;
	float: left;
	margin: 8px;
	text-align: center;
	vertical-align: middle;
}

.overview .mini:hover, .overview .thumb:hover {
	border: 4px solid #aaa;
}

.overview .mini {
	width: 150px;
	height: 100px;
}

.overview .thumb {
	height: 400px;
	width: 300px;
}