* {
	margin: 0;
	padding: 0;
}

body {
	background: #dedede;
	font-family: "trebuchet ms", arial, verdana, sans-serif;
	font-size: 13px;
}

header {
	height: 100px;
	text-align: center;
}

h2, h3 {
	margin: 0.75em 0 1em 0;
}

p {
	margin: 0.5em 0 0.75em 0;
}

#wrapper {
	background: white;
	margin: auto;
}

.center {
	text-align: center;
}

.entry {
	border-bottom: 10px solid #dedede;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.content {
	padding: 1em;
}

.comment {
	border-bottom: 1px solid #aaa;
	margin: 0;
}

.comment .comment-meta {
	background: #efefef;
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	margin-bottom: 0.75em;
	margin-top: 0;
	padding: 0.5em;
}