<!--
Controller: <?php echo Application_Base::getController(); ?><br />
Action: <?php echo Application_Base::getAction(); ?><br />
-->
<?php
$controller = str_replace('Admin_Controller_', '', Application_Base::getController());
$action = Application_Base::getAction();

if(Modules_Session::getInstance()->getVar('userdata')->user_id) {

	$menu = new Admin_View_Helper_Menu();
	$menu->app = $this->app;
	$menu->gatherJSON(dirname(__FILE__).'/../');
	echo $menu->create();

}


?>

<script>
$(function() {
	$('ul#menu li:not(.active) ul').hide();
	$('ul#menu > li:not(:first-child(ul)) > a').bind('click', function(e) {
		e.preventDefault();
		$(this).parent().find('ul').slideToggle('fast');
	});
});
</script>


