<!DOCTYPE html>
<html>
<head>
<title>Exhibit Blog</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<?php

$adminDir = Application_Base::getProjectDir();

$adminStyle = Application_Settings::get('//settings/system/backend/stylesheet', 1);
$userStyle = Modules_Session::getInstance()->getVar('userdata')->adminstyle;

if(Modules_Filesys::isFile($adminDir . $userStyle)) {
	$styleFile = $userStyle;
} else if(Modules_Filesys::isFile($adminDir . $adminStyle)) {
	$styleFile = $adminStyle;
} else {
	$styleFile = 'templates/assets/css/layout.css';
}

?>
<link href="<?php echo Application_Base::getBaseURL() . $styleFile; ?>?d=<?php echo (int) filemtime($adminDir . $styleFile); ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo Application_Base::getBaseURL(); ?>templates/assets/css/famfamfam.css?d=<?php echo (int) filemtime(dirname(__FILE__) . '/assets/css/famfamfam.css'); ?>" rel="stylesheet" type="text/css" />

<?php $this->app->extensions()->notify($this, 'AdminTemplateHeadEnd'); ?>

</head>
<body>
<div id="page">

	<section id="sidebar">

		<div class="resizebar"></div>

		<header>
			<h1><a href="<?php echo Application_Base::getBaseURL(); ?>.."><?php echo Application_Settings::get('//settings/general/site/sitename', 1); ?></a></h1>
		</header>

		<?php if(Modules_Session::getInstance()->getVar('userdata')->user_id) { ?>
		<div class="infobox">
		<?php 
		if(Modules_Session::getInstance()->getVar('userdata')->avatar != '') {
			$style = ' style="background: url(' . Application_Base::getBaseURL() . '../uploads/avatars/'. Modules_Session::getInstance()->getVar('userdata')->avatar . '_45.png) center center no-repeat;"';
		}
		?>
			<div class="userimg"<?php echo $style; ?>></div><?php echo Modules_Session::getInstance()->getVar('userdata')->firstname; ?> <?php echo Modules_Session::getInstance()->getVar('userdata')->lastname; ?><br />
			<span class="small"><a href="<?php echo Application_Base::getBaseURL(); ?>User/edit"><?php echo __('Edit profile'); ?></a> | <a href="<?php echo Application_Base::getBaseURL(); ?>Login/?logout"><?php echo __('Logout'); ?></a></span>
			<br style="clear: both;" />
		</div>
		<?php } ?>

		<nav>

<?php
if(Modules_Session::getInstance()->getVar('userdata')->user_id) {

	$menu = new Admin_Application_View_MenuHelper($this->app);
	$menu->gatherJSON(dirname(__FILE__));
	$menu->gatherJSON($this->app->getProjectDir() . '/../Extensions');
	echo $menu->create();

}

?>
		</nav>

	</section>

	<section id="content">
		[sub:[main]]
	</section>

	<footer>

		<p>Exhibit Blog was created by <a href="http://www.manuel-bieh.de/">Manuel Bieh</a> and is licensed under <a href="<?php echo $this->app->getBaseUrl(); ?>Content/license.html">MIT License</a>. <a href="<?php echo $this->app->getBaseUrl(); ?>Content/credits.html">Credits</a></p>

	</footer>

</div>
<script>
$(function() {

	$('ul#menu li:not(.active) ul').hide();
	$('ul#menu > li:not(:first-child(ul)) > a').bind('click', function(e) {
		e.preventDefault();
		$(this).parent().find('ul').slideToggle('fast');
	});

	$('#sidebar .resizebar').bind('click', function() {

		if($(this).parent().hasClass('closed')) {
			$('#content').stop().animate({left: '300px'});
			$('#sidebar').stop().animate({width: '300px'});
		} else {
			$('#sidebar').stop().animate({width: '8px'});
			$('#content').stop().animate({left: '8px'});
		}

		$(this).parent().toggleClass('closed');

	});

/*
	// Awesome ajax stuff. Currently doesnt work with forms properly
*/

	$('ul#menu li ul li a').bind('click', function(e) {

		e.preventDefault();

		$('#content').css({opacity: 0.3});

		$('body').append('<div class="contentspinner"></div>');

		$$ = $(this);
		$.ajax({
			url: $$.attr('href'),
			type: 'get',
			data: 'ajax=true',
			success: function(content) {
				$('#content').html(content).css({opacity: 1});
				history.pushState({}, null, $$.attr('href'));
				$('ul#menu li ul li').removeClass('active');
				$$.parent('li').addClass('active');
				$('.contentspinner').remove();
			},
			error: function() {
				$('#content').css({opacity: 1});
				$('.contentspinner').remove();
			}
		});


		return false;

	});

});
</script>
<?php $this->app->extensions()->notify($this, 'AdminTemplateBodyEnd'); ?>
</body>
</html>

