<h2><?php echo __('New photo'); ?></h2>

[[$ERRORS]]

<fieldset>

	<legend><?php echo __('Photo information'); ?></legend>
	<p>
		<label for="data[title]"><?php echo __('Title'); ?></label>
		<?php echo $this->input(array('name'=>'data[title]', 'class'=>'i5', 'id'=>'data[title]', 'placeholder'=>'Title of the photo')); ?>
	</p>

	<p>
		<label for="data[description]"><?php echo __('Description'); ?></label>
		<?php echo $this->textarea(array('name'=>'data[description]', 'class'=>'i6', 'rows'=>5, 'cols'=>45, 'id'=>'data[description]')); ?>
	</p>

	<div class="ui-tabs radio">

		<ul>
			<li><label><?php echo $this->input(array('type'=>'radio', 'name'=>'source', 'value'=>'upload', 'checked'=>'checked')); ?> <?php echo __('Upload'); ?></label></li>
			<li><label><?php echo $this->input(array('type'=>'radio', 'name'=>'source', 'value'=>'web')); ?> <?php echo __('From the web'); ?></label></li>
		</ul>

		<section data-value="upload">

			<p>
				<label for="upload[file]"><?php echo __('Select image'); ?></label>
				<?php echo $this->input(array('type'=>'file', 'name'=>'upload[]', 'id'=>'upload[file]')); ?>
			</p>

		</section>

		<section data-value="web">

			<p>
				<label for="download[url]"><?php echo __('Enter URL'); ?></label>
				<?php echo $this->input(array('type'=>'url', 'name'=>'download[url]', 'id'=>'download[url]', 'placeholder'=>'http://')); ?>
			</p>

		</section>

	</div>

	<p>
		<label for="data[tags]"><?php echo __('Tags (comma separated)'); ?></label>
		<?php echo $this->input(array('name'=>'data[tags]', 'class'=>'i5', 'id'=>'data[tags]', 'placeholder'=>__('e.g. outdoor, landscape, body') )); ?>
	</p>

</fieldset>

<fieldset>

	<legend><?php echo __('Options'); ?></legend>

	<p>
		<?php echo $this->input(array('type'=>'checkbox', 'id'=>'instant', 'name'=>'instant', 'checked'=>'checked', 'value'=>'1' )); ?>
		<label for="instant"><?php echo __('Publish now'); ?></label>
	</p>

	<p>
		<label for="data[title]"><?php echo __('Publish date (YYYY-MM-DD)'); ?></label>
		<?php echo $this->input(array('type'=>'datetime', 'disabled'=>'disabled', 'name'=>'data[date_publish]', 'class'=>'i5', 'id'=>'data[date_publish]', 'Placeholder'=>'Sofort')); ?>
	</p>

	<p>
		<?php 
		$exif = Application_Settings::get('//general/exif/publishByDefault', 1) == 1 ? array('checked'=>'checked') : array();
		echo $this->input(array_merge($exif, array('type'=>'checkbox', 'id'=>'data[exif]', 'name'=>'data[exif]', 'value'=>'1' ))); ?>
		<label for="data[exif]"><?php echo __('Publish EXIF data?'); ?></label>
	</p>

	<p>
		<?php echo $this->input(array('type'=>'checkbox', 'id'=>'data[allow_comments]', 'name'=>'data[allow_comments]', 'checked'=>'checked', 'value'=>'1' )); ?>
		<label for="data[allow_comments]"><?php echo __('Allow users to comment on this photo?'); ?></label>
	</p>


</fieldset>

[[$SEND]]

<script>
$(function() {

	$('#instant').bind('change', function() {

		if($(this).is(':checked')) {
			$('input[name="data[date_publish]"]').attr('disabled', true);
		} else {
			$('input[name="data[date_publish]"]').attr('disabled', false);
		
		}

	});

	$.each($('.ui-tabs.radio > ul > li input:radio'), function(i, el) {
		if($(el).is(':checked')) {
			$(el).parents('.ui-tabs').find('section').hide();
			$(el).parents('.ui-tabs').find('section[data-value="' + $(el).val() + '"]').show();
		}
	});

	$('.ui-tabs.radio > ul > li input:radio').bind('click', function() {
		$$ = $(this);
		$$.parents('.ui-tabs').find('section').hide();
		$$.parents('.ui-tabs').find('section[data-value="' + $$.val() + '"]').show();
	});

});
</script>