<h2><?php echo __('Manage photos'); ?></h2>

<?php
if(count($this->data['images']) > 0) {
?>
<p class="pagination"><?php echo $this->data['pagination']; ?></p>

<ul id="imagelist">
<?php foreach($this->data['images'] AS $image => $data) { ?>

<li style="clear: both;" class="<?php echo $data->active == 1 ? 'active':'inactive'; ?>">
	<div class="mini"> <img src="<?php echo Application_Base::getBaseURL(); ?>../uploads/mini/<?php echo $data->web_name; ?>" alt="" /></div> 
	<div class="meta">
		<h4><?php echo $data->title; ?></h4>
		<ul class="tools">
			<li><a class="editimage" href="<?php echo Application_Base::getBaseURL(); ?>Photo/edit/<?php echo $data->photo_id; ?>"><?php echo __('Edit details'); ?></a></li>
			<li><a class="delete" href="<?php echo Application_Base::getBaseURL(); ?>Photo/delete/<?php echo $data->photo_id; ?>"><?php echo __('Delete photo'); ?></a></li>
			<li><strong><?php echo __('Uploaded'); ?>:</strong> <?php echo $data->date_uploaded; ?></li>
			<li><strong><?php echo __('Original size'); ?>:</strong> <?php echo $data->original_width; ?>×<?php echo $data->original_height; ?></li>
			<?php if($data->tags): ?>
			<li><strong><?php echo __('Tags'); ?>:</strong> <?php echo $data->tags; ?></li>
			<?php endif; ?>
			<li>
				<strong><?php echo __('Comments'); ?>:</strong> 
				<?php if($data->comment_count > 0) { ?>
					<a href="<?php echo Application_Base::getBaseURL(); ?>Comments/view/<?php echo $data->photo_id; ?>"><?php echo $data->comment_count; ?></a>
				<?php } else { ?>
					<?php echo $data->comment_count; ?>
				<?php } ?>
			</li>
		</ul>
	</div>
	<span class="clear"></span>
</li>
<?php } ?>
</ul>

<br style="clear: both;" />
<p class="pagination"><?php echo $this->data['pagination']; ?></p>

<?php } else { ?>

<p><?php echo __('Sorry, nothing to see here yet.'); ?></p>

<?php } ?> 



<script>$(function() {

	$('a.delete').bind('click', function(e) {

		e.preventDefault();
		var item = $(this).parent().parent().parent();
		var del = confirm("<?php echo __('Are you sure you want to delete the file '); ?>" + item.find('h4').text() + '?');

		if(del == true) {
			$.ajax({
				url: $(this).attr('href'),
				type: 'POST',
				data: 'ajax=1&confirm=true',
				success: function(msg) {
					alert(msg);
					item.fadeOut();
				}
			});
		}

		return false;

	});
	

});</script>