<h2><?php echo __('Edit profile'); ?></h2>

[[$ERRORS]]

<fieldset>

	<legend><?php echo __('Account information'); ?></legend>

	<p>
		<label for="data[email]"><?php echo __('Email'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[email]', 'id'=>'data[email]', 'value'=>$this->data->email)); ?>
	</p>

	<p>
		<label for="data[password]"><?php echo __('Password'); ?></label>
		<?php echo $this->input(array('type'=>'password', 'name'=>'data[password]', 'id'=>'data[password]')); ?>
	</p>

	<p>
		<label for="confirm"><?php echo __('Repeat password'); ?></label>
		<?php echo $this->input(array('type'=>'password', 'name'=>'confirm', 'id'=>'confirm')); ?>
	</p>

</fieldset>

<fieldset>

	<legend><?php echo __('Personal information'); ?></legend>

	<p>
		<label for="data[firstname]"><?php echo __('Firstname'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[firstname]', 'id'=>'data[firstname]', 'value'=>$this->data->firstname)); ?>
	</p>

	<p>
		<label for="data[lastname]"><?php echo __('Lastname'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[lastname]', 'id'=>'data[lastname]', 'value'=>$this->data->lastname)); ?>
	</p>

	<p>
		<label for="data[birthname]"><?php echo __('Birthname'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[birthname]', 'id'=>'data[birthname]', 'value'=>$this->data->birthname)); ?>
	</p>



</fieldset>
	<!--<input type="hidden" name="hash" value="[[hash]]" />-->

	[[$SEND]]
