<h2><?php echo __('Edit profile'); ?> » <?php echo $this->data->firstname; ?> <?php echo $this->data->lastname; ?></h2>

[[$ERRORS]]

<fieldset>

	<legend><?php echo __('Account information'); ?></legend>

	<p>
		<label for="data[email]"><?php echo __('Email'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[email]', 'id'=>'data[email]', 'value'=>$this->data->email)); ?>
	</p>

	<p>
		<label for="data[password]"><?php echo __('Password'); ?></label>
		<?php echo $this->input(array('type'=>'password', 'name'=>'data[password]', 'id'=>'data[password]')); ?>
	</p>

	<p>
		<label for="confirm"><?php echo __('Repeat password'); ?></label>
		<?php echo $this->input(array('type'=>'password', 'name'=>'confirm', 'id'=>'confirm')); ?>
	</p>

</fieldset>

<fieldset>

	<legend><?php echo __('Profile image'); ?></legend>

	<p>
		<label for="upload[avatar]"><?php echo __('Select file'); ?></label>
		<?php echo $this->input(array('type'=>'file', 'name'=>'avatar[]', 'id'=>'upload[avatar]')); ?>
	</p>

	<p>
		<?php echo $this->input(array('type'=>'checkbox', 'id'=>'avatar[delete]', 'name'=>'avatar[delete]', 'value'=>'1' )); ?>
		<label for="avatar[delete]"><?php echo __('Delete profile image?'); ?></label>
	</p>

</fieldset>

<fieldset>

	<legend><?php echo __('Personal information'); ?></legend>

	<p>
		<label for="data[salutation]"><?php echo __('Salutation'); ?></label>
		<?php echo $this->select(array('name'=>'data[salutation]', 'id'=>'data[salutation]'), array(''=>'', 'Herr'=>'Herr', 'Frau'=>'Frau', 'Eure Majestät'=>'Eure Majestät'), $this->data->salutation); ?>
	</p>

	<p>
		<label for="data[firstname]"><?php echo __('Firstname'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[firstname]', 'id'=>'data[firstname]', 'value'=>$this->data->firstname)); ?>
	</p>

	<!--
	<p>
		<label for="data[testfoo]"><?php echo __('testfoo'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[testfoo]', 'id'=>'data[testfoo]', 'value'=>$this->data->testfoo)); ?>
	</p>
	-->

	<p>
		<label for="data[lastname]"><?php echo __('Lastname'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[lastname]', 'id'=>'data[lastname]', 'value'=>$this->data->lastname)); ?>
	</p>

	<p>
		<label for="data[birthname]"><?php echo __('Birthname'); ?></label>
		<?php echo $this->input(array('type'=>'text', 'name'=>'data[birthname]', 'id'=>'data[birthname]', 'value'=>$this->data->birthname)); ?>
	</p>

	<p>
		<span class="label"><?php echo __('Gender'); ?></span><br />
		<label for="data[gender][m]">
			<?php $m = $this->data->gender == 'm' ? array('checked'=>'checked') : array(); ?>
			<?php echo $this->input(array_merge($m, array('type'=>'radio', 'value'=>'m', 'name'=>'data[gender]', 'id'=>'data[gender][m]'))); ?>
			<?php echo __('Male'); ?>
		</label>
		<label for="data[gender][w]" class="nofloat">
			<?php $w = $this->data->gender == 'w' ? array('checked'=>'checked') : array(); ?>
			<?php echo $this->input(array_merge($w, array('type'=>'radio', 'value'=>'w', 'name'=>'data[gender]', 'id'=>'data[gender][w]'))); ?>
			<?php echo __('Female'); ?>
		</label>
	</p>

</fieldset>
	<!--<input type="hidden" name="hash" value="[[hash]]" />-->

	[[$SEND]]
